.button-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .home-button, .images-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .home-button:hover, .images-button:hover {
    background-color: #333;
    color: #fff;
  }
  